body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    min-height: 100vh ;
    /* min-width: 100%; */
    margin: 0;
}

.notification {
    width: 320px;
    padding: 10px ;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 10px;
    font-family: Cursive, "Lucida Console", "Courier New", monospace;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.heading {
    font-size: 16px;
    font-weight: 400;
    font-style: oblique;
    color: #427cac;
    margin: 0;
}

.icons i {
    margin-left: 15px;
    color: #427cac;
    cursor: pointer;
}
.heart :hover {
    color:red;
}
.msg :hover {
    color:rgb(11, 131, 211);
}

.user{
    width: 320px;
    padding: 10px ;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 10px;
    font-size: 20px;
    cursor:pointer;
    margin-top: 5px;

}

.user img:hover{
    transform: scale(1.1);
    transition: 0.2s;
}

.main {
    text-align: center;
    width: 320px;
    height: 320px;
    color: rgb(23, 104, 136);
    padding: 10px ;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
}
.main img{
    width: 70%;
    height: 70%;
    border-radius: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}

.btn{
    display: flex;
    width: 80px;
    padding: 3px;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 5px;
    margin: 5px 50px ; 
    cursor: pointer;  
    box-sizing: border-box;
} 
.navbar{
    width: 320px;
    padding: 10px ;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    color: #33536d;
    cursor: pointer;
}

.navbar i:hover{
    color: #427cac;
    transition: 0.1s;
}