<body>
    

<div class="friend-list">
  <h2>Select a Friend to Send a Message</h2>
  <div class="friend-images">
    <!-- <div *ngFor="let friend of friends" class="friend" (click)="selectFriend(friend.name)">
      <img [src]="friend.image" [alt]="friend.name" width="50" height="50">
      <p>{{ friend.name }}</p>
    </div> -->
  </div>
</div>

<div class="message-box">
  <button (click)="sendMessage()">Send Message</button>
</div>

<div class="navbar">
    <a routerLink="/homepage" class="home">Back to Homepage</a>
  </div>
</body>