textarea {
    padding: 10px;
    border: 1px solid grey;
    border-radius: 5px;
    font-size: 16px;
    resize: none;
    margin-top: 10px;
    width: 80%;
  }
  
.navbar{
    display: flex;
    padding: 10px 0;
    background-color: #f9f9f9;
  }

.home, .search {
    color: rgb(26, 75, 139);
    font-weight: 400;
    font-size: 15px;
    text-decoration: none;
    margin-right: 15px; 
}