<body>
    <div class="friend-list" *ngIf="selectedFriend">
      <h2>Chat with {{ selectedFriend }}</h2>
      <div class="friend-images">
        <div class="friend">
          <img [src]="friendImage" [alt]="selectedFriend" width="60" height="60">
          <p>{{ selectedFriend }}</p>
        </div>
      </div>
    </div>
  
    <div class="message-box">
      <textarea [(ngModel)]="message" rows="4" cols="40" placeholder="Type your message here..."></textarea><br>
      <button (click)="sendMessage()">Send Message</button>
    </div>
  
    <div class="navbar">
    <a routerLink="/homepage" class="home">Back to Homepage</a>
    <a routerLink="/search" class="search">Search</a>
    </div>
  </body>
  