body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    display: flex; 
    flex-direction: column;  
    align-items: center;
    justify-content: center;
    min-height: 100vh ;
    margin: 0;
}

p{
    text-align: center;
    color: #427cac;
    margin-bottom: 20px 
 }

.search{
    width: 320px;
    padding: 10px ;
    border: 1px solid rgba(20, 20, 20, 0.1);
    border-radius: 10px;
    font-family: Cursive, "Lucida Console", "Courier New", monospace;
}

ul {
    list-style-type: none;
    padding: 0;
  }


  li {
    background-color: #f9f9f9;
    padding: 10px;
    margin-bottom: 10px;
    font-size: 16px;
    color: #333;
  }
  
  li:hover {
    background-color: #e6f7ff;
  }

  input {
    font-size: 14px;
    width: 90%; 
    text-align: center;
    padding: 10px;
    align-items: flex;
    flex-direction: column;
    border: 1px solid grey; 
    border-radius: 5px;
    margin: 30px 10px ; 
    box-sizing: border-box; 

}

button{
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #427cac;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  button:hover {
    background-color: #33536d;
  }

  .navbar{
    display: flex;
    padding: 10px 20px;
    background-color: #f9f9f9;
  }
  .home{
    color:rgb(26, 75, 139) ;
    font-weight: 400 ;
    font-size: 15px;
    text-decoration: none;
  }