<body>   
    <p>Search</p>
    <div class="search">
      <input type="text" name="friendName" [(ngModel)]="friendName" placeholder="Enter username">
      <button (click)="addFriend()">Submit</button>
      <div *ngIf="filteredFriends.length > 0; then friendList; else noData"></div>
      <ng-template #friendList>
        <ul>
          <li *ngFor="let friend of filteredFriends">{{ friend }}</li>
        </ul>
      </ng-template>
      <ng-template #noData>
        <p>No user found</p>
      </ng-template>
    </div>
    <div class="navbar">
      <a routerLink="/homepage" class="home">Back to Homepage</a>
    </div>
  </body>